<div class="home-hero fade-in">
    <div class="hero-visual">
        <div class="image-cutout">
            <img src="styles\profil.png" alt="Ahmed Rachid Bangoura">
        </div>
    </div>
    <div class="hero-content">
        <p class="greeting">Bonjour, je suis</p>
        <h1 class="hero-name">Ahmed Rachid <span class="accent">Bangoura</span></h1>
        <h2 class="hero-title">Etudiant EN <span class="accent"> Informatique</span></h2>
        <p class="hero-desc">Etudiant en informatique | Spécialiste Réseaux & Sécurité <br> Fondateur de DarkSync Afrique <br>Casablanca, Maroc <br> +212
            782-830-232 <br> ahmedbangoura852@gmail.com</p>
        <div class="about-preview">
            <p>Passionné par la protection des systèmes et l'architecture réseau.</p>
        </div>
    </div>
</div>